/*GENERAL STYLES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 14px;
}
.app-bkgr{
    /*background: #1e2d3b;*/
}
.container {
    max-width: 100%;
    margin: auto;
    background: #1e2d3b;
    background-image: url("../img/movie_backgr.png");

}

header{
    display: flex;
    margin-bottom: 50px;
    padding: 80px;
}

.header-container {
  position:fixed;
  height: 60px;
  width:100%;
  background-color: black;
  filter: opacity(85%);
}
header input {
    flex-grow: 1;
    border-radius: 15px;
}

header button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border-style: none;
    margin-left: 5px;
    cursor: pointer;
    background-color: #fff;
}


.logo-netflix{
  width:5%;
  padding-left: 10px;
  margin-left: 50px;
}
main {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 158px;
    list-style-type: none;
    margin: 0 25px 25px 25px;
    cursor: pointer;
}
.card .poster {

    height: 237px;
    background-color: #2e3a46;
    color: white;
    /*padding: 20px;*/
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card .language img {
    width: 25px;
}

.title-main {
    margin-top: 10px;
}


.footer-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 80px;
  width:100%;
  background-color: black;
  filter: opacity(85%);
}

.social-links{
  margin-top: 20px;
}

.social-links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding-left: 10px;

}

.under-footer{
  display: flex;
  justify-content: center;
  position: fixed;
  padding-top: 5px;
  bottom: 10px;
  height: 15px;
  width:100%;
  background-color: black;
  filter: opacity(85%);
}
